<ion-content [fullscreen]="true" class="ion-padding" mode="md">
  <h1 class="ion-text-center">
    Trocadero<strong>S</strong>hop
  </h1>

  <ion-list lines="none">

    <ion-input 
      color="danger" 
      label="Email" 
      label-placement="stacked" 
      placeholder="user@email.com" 
      type="email" 
      fill="outline"
      >
    </ion-input>


    <div class="vspace"></div> <!--espacio de 24px de alto-->


    <ion-input 
      color="danger" 
      label="Password" 
      label-placement="stacked" 
      placeholder="123456" 
      type="password" 
      fill="outline"
      >
    </ion-input>


    <div class="vspace"></div> <!--espacio de 24px de alto-->

    <ion-button color="primary" expand="block" routerLink="/iniciarsesion" mode="ios">
      Iniciar Sesion
    </ion-button>
  </ion-list>




</ion-content>