

<ion-content [fullscreen]="true" class="ion-padding">

  <div>
    <div class="vspace"></div>
    <div class="vspace"></div>
    <div style="display: flex; margin: 10px auto; justify-content: center; align-items: center;">
      <img src="../../assets/icon/trocaderologo.jpg" alt="" style="width: 72px; height: 72px; border-radius: 8px 8px 8px 8px;" class="animate__animated animate__heartBeat">
    </div>
    
    <div class="vspace"></div>
    <h1 class="ion-text-center texto-60" 
      style="font-weight: 800; font-size: 32px;">
      Trocadero<span style="font-size: 52px; color: #673BB7;">S</span>hop
    </h1>

    <div class="vspace"></div>
    <div class="vspace"></div>
    <div class="vspace"></div>
    <p class="ion-text-center">
      La tienda de compra y venta de productos de pequeños <br>Empresarios en Colombia
    </p>
    <div class="vspace"></div>
    <div class="vspace"></div>
    <div class="vspace"></div>
    <ion-button 
      color="trocadero"
      expand="block" 
      routerLink="/iniciarsesion"
      >
      Continuar
    </ion-button>
    <div class="vspace"></div>
    <div class="vspace"></div>
  </div>

  <!--swiper-container [slidesPerView]="1" [spaceBetween]="10" [pagination]="true"> 
    <swiper-slide>
       
      <div class="vspace"></div>
      <h1 class="ion-text-center texto-60" 
        style="font-weight: 800; font-size: 32px;">
        Trocadero<span style="font-size: 52px; color: #673BB7;">S</span>hop
      </h1>
      <div class="vspace"></div> 
      <div style="display: flex; margin: 10px auto; justify-content: center; align-items: center;">
        <img src="../../assets/undraw_transfer_money_re_6o1h.svg" alt="">
      </div>
    </swiper-slide>

    <swiper-slide> 
      <div>
        <div class="vspace"></div>
        <h1 class="ion-text-center texto-60" 
          style="font-weight: 800; font-size: 32px;">
          Trocadero<span style="font-size: 52px; color: #673BB7;">S</span>hop
        </h1>
        <div class="vspace"></div>
        <div style="display: flex; margin: 10px auto; justify-content: center; align-items: center;">
          <img src="../../assets/undraw_home_screen_re_640d.svg" alt="">
        </div>
      </div>
    </swiper-slide>

    <swiper-slide> 
      <div>
        <div class="vspace"></div>
        <div class="vspace"></div>
        <div style="display: flex; margin: 10px auto; justify-content: center; align-items: center;">
          <img src="../../assets/icon/trocaderologo.jpg" alt="" style="width: 72px; height: 72px; border-radius: 8px 8px 8px 8px;">
        </div>
        
        <div class="vspace"></div>
        <h1 class="ion-text-center texto-60" 
          style="font-weight: 800; font-size: 32px;">
          Trocadero<span style="font-size: 52px; color: #673BB7;">S</span>hop
        </h1>

        <div class="vspace"></div>
        <div class="vspace"></div>
        <div class="vspace"></div>
        <p class="ion-text-center">
          La tienda de compra y venta de productos de pequeños <br>Empresarios en Colombia
        </p>
        <div class="vspace"></div>
        <div class="vspace"></div>
        <div class="vspace"></div>
        <ion-button 
          color="trocadero"
          expand="block" 
          routerLink="/iniciarsesion"
          >
          Continuar
        </ion-button>
        <div class="vspace"></div>
        <div class="vspace"></div>
      </div>
    </swiper-slide>
  </swiper-container-->

  
</ion-content>
